.container {
    display: inline-table;
    flex-direction: column;
    margin: auto;
  font-family: Arial;
  background-color: white;
  width: 400px;
  }
  .example-card {
    max-width: 800px;
    background-color: white;
    color: black;
  }
  .input {
    font-size: 16px;
    font-size: max(16px, 1em);
    font-family: inherit;
    padding: 0.25em 0.5em;
    background-color: #fff;
    border: 2px solid var(--input-border);
    border-radius: 4px;
  }